<header>
    <div class="bg-black overflow-hidden w-11/12 pl-20 text-white float-left text-center pt-3.5 pr-3.5 no-underline text-lg ">
        <a class="active" href="#Uber">Uber</a>
        <a href="#products">products</a>
        <a href="#Company">Company</a>
        <a href="#Saftly">Saftly</a>
        <a href="#help">help</a>
        <a href="#LogIn" class="right">LogIn</a>
        <a href="#SignUp" class="right">SignUp</a>
        <a href="#En" class="right">En</a>
    </div>
</header>