<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Uber</title>
  </head>

  <body>
    <section>
      <div class="topnav">
        <div>
          <a class="active" href="#Uber">Uber</a>
          <a href="#products">products</a>
          <a href="#Company">Company</a>
          <a href="#Saftly">Saftly</a>
          <a href="#help">help</a>
        </div>
        <div class="nav-right">
          <a href="#LogIn" class="right login-btn">Log in</a>
          <a href="#SignUp" class="right">Sign up</a>
          <a href="#En" class="right">En</a>
        </div>
      </div>
    </section>
    <section class="section-1">
      <div class="services-wrapper">
        <div class="services-box">
          <div class="services-list">
            <div class="service-list-item">
              <a href="#">Drive or deliver</a>
            </div>
            <div class="service-list-item">
              <a href="#">Eat</a>
            </div>
            <div class="service-list-item">
              <a href="#">Ride</a>
            </div>
          </div>
          <div class="service-details font-lg">
            <div>
              <h2>Get in the driver’s seat and get paid</h2>
            </div>
            <div>
              <p class="font-sm">
                Drive on the platform with the largest network of active riders.
              </p>
            </div>
            <div>
              <button class="btn black-btn">Sign up to drive</button>
            </div>
            <div>
                <a href="#" class="learn-more font-sm font-grey">
                    Learn more about driving and delivering
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div></div>
    </section>
  </body>
</html>
